
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body background="~/images/fondo1.jpg">
    <div> 
        <a href="@Url.Action("Create","Medicina")">Agregar nueva Medicina</a>
        <table border="0">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Presentacion</th>
                <th>Tipo de Medicamento</th>

            </tr>
            @foreach (var medicina in ViewBag.listMedicina)
            {
            <tr>
                <td>@medicina.Id</td>
                <td>@medicina.Nombre</td>
                <td>@medicina.Presentacion</td>
                <td>@medicina.Tipo_de_Medicamento</td>
                <td>
                    <a onclick=" return confirm('¿Estas seguro/a?')" href="@Url.Action("Delete", "Medicina", new { id = medicina.Id})">Eliminar</a>
                    <a href="@Url.Action("Edit", "Medicina", new { id = medicina.Id})">Editar</a>
                </td>
            </tr>
            }

        </table> 
    </div>
</body>
</html>
